
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Formulario</title>
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/indexMedia.css">
  <link rel="stylesheet" href="assets/css/mobile.css">
  <link rel="stylesheet" href="assets/css/radioButton.css">
  <link rel="stylesheet" href="assets/css/styleForm.css">

</head>
<body>

<!-- --------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------- -->

<!-- Inicio Nav -->
    <nav id="navbar" class="navbar">
        <div class="nav__logo">
            <a href="/"><img src="assets/img/logo.png" alt="logo" /></a>
        </div>
        <ul class="nav__links">
            <!-- <li class="link"><a href="/">Home</a></li> -->
            <!-- <li class="link"><a href="#">Program</a></li> -->
            <!-- <li class="link"><a href="#">Service</a></li> -->
            <!-- <li class="link"><a href="#">About</a></li> -->
            <!-- <li class="link"><a href="#">Community</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
<!-- Final Nav -->


<!-- Inicio do Formulario -->
<form action="/send" method="post">

    <!-- ############################### -->
    <!----------------IDADE---------------->
    <!-- Inicio do Container de Perguntas -->
    <!-- Inicio do Container | Pergunta IDADE -->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>QUAL É A SUA</span> IDADE?</h1>
        </header>
        <!-- Final Header -->

        <!-- Inicio dos Cards de Perguntas --> 
        <div class="gradient-cards">
            <label>
                <input type="radio" name="age-group" value="20">
                <div class="card1">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ENTRE 18 E 25 ANOS</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="radio" name="age-group" value="26">
                <div class="card2">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ENTRE 26 E 35 ANOS</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="36">
                <div class="card3">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ENTRE 36 E 50 ANOS</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="50">
                <div class="card4">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ENTRE 36 E 50 ANOS</p>
                    </div>
                </div>
            </label>
        </div>  <!-- Final dos Card de Perguntas --> 
    </div>  <!-- Final do Container | Pergunta IDADE -->



    <!-- ############################### -->
    <!----------------RENDA---------------->
    <!-- Inicio do Container | Pergunta RENDA -->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>QUAL É A SUA</span> RENDA?</h1>
        </header>
        <!-- Final Header -->

        <!-- Inicio dos Cards de Perguntas --> 
        <div class="gradient-cards">
            <label>
                <input type="radio" name="age-group" value="1.500">
                <div class="card1">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ENTRE 1.000 E 2.500 REAIS</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="radio" name="age-group" value="3.000">
                <div class="card2">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ENTRE 2.500 E 5.000 REAIS</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="300000">
                <div class="card3">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ENTRE 5.000 E 10.000 REAIS</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="10.000">
                <div class="card4">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ACIMA DOS 10.000 REAIS</p>
                    </div>
                </div>
            </label>
        </div>  <!-- Final dos Card de Perguntas --> 
    </div>  <!-- Final do Container | Pergunta RENDA -->
    

    <!-- ############################### -->
    <!----------------IMOVEL---------------->
    <!-- Inicio do Container | Pergunta IMOVEL -->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>COMO É A SUA</span> RESIDENCIA?</h1>
        </header>
        <!-- Final Header -->

        <!-- Inicio dos Cards de Perguntas --> 
        <div class="gradient-cards">
            <label>
                <input type="radio" name="age-group" value="1">
                <div class="card1">
                    <div class="container-card bg-green-box">
                        <p class="card-title">SEU IMÓVEL É PRÓPRIO?</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="radio" name="age-group" value="2">
                <div class="card2">
                    <div class="container-card bg-green-box">
                        <p class="card-title">SEU IMÓVEL É ALUGADO?</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="3">
                <div class="card3">
                    <div class="container-card bg-green-box">
                        <p class="card-title">SEU IMÓVEL É FINANCIADO?</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="4">
                <div class="card4">
                    <div class="container-card bg-green-box">
                        <p class="card-title">OUTRO TIPO DE PROPRIEDADE.</p>
                    </div>
                </div>
            </label>
        </div>  <!-- Final dos Card de Perguntas --> 
    </div>  <!-- Final do Container | Pergunta IMOVEL -->
 

    <!-- ############################### -->
    <!----------------EMPREGO---------------->
    <!-- Inicio do Container | Pergunta EMPREGO -->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>QUANTO TEMPO VOCÊ</span> ESTÁ NO SEU EMPREGO?</h1>
        </header>
        <!-- Final Header -->

        <!-- Inicio dos Cards de Perguntas --> 
        <div class="gradient-cards">
            <label>
                <input type="radio" name="age-group" value="1.0">
                <div class="card1">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 1 A 2 ANOS.</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="radio" name="age-group" value="3.0">
                <div class="card2">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 3 A 5 ANOS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="6.0">
                <div class="card3">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 6 A 10 ANOS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="9.0">
                <div class="card4">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ACIMA DE 10 ANOS.</p>
                    </div>
                </div>
            </label>
        </div>  <!-- Final dos Card de Perguntas --> 
    </div>  <!-- Final do Container | Pergunta EMPREGO -->


    <!-- ############################### -->
    <!----------------OBJETIVO---------------->
    <!-- Inicio do Container | Pergunta OBJETIVO -->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>QUAL O OBJETIVO</span> DO INVESTIMENTO?</h1>
        </header>
        <!-- Final Header -->

        <!-- Inicio dos Cards de Perguntas --> 
        <div class="gradient-cards">
            <label>
                <input type="radio" name="age-group" value="1">
                <div class="card1">
                    <div class="container-card bg-green-box">
                        <p class="card-title">EM EDUCAÇÃO.</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="radio" name="age-group" value="2">
                <div class="card2">
                    <div class="container-card bg-green-box">
                        <p class="card-title">EM SAÚDE.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="3">
                <div class="card3">
                    <div class="container-card bg-green-box">
                        <p class="card-title">EM LAZER.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="4">
                <div class="card4">
                    <div class="container-card bg-green-box">
                        <p class="card-title">FONTE DE RENDA.</p>
                    </div>
                </div>
            </label>
        </div>  <!-- Final dos Card de Perguntas --> 
    </div>  <!-- Final do Container | Pergunta OBJETIVO -->



    <!-- ############################### -->
    <!----------------QUANTO INVESTIR---------------->
    <!-- Inicio do Container | Pergunta QUANTO INVESTIR -->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>QUAL VALOR VOCÊ</span> QUER INVESTIR?</h1>
        </header>
        <!-- Final Header -->

        <!-- Inicio dos Cards de Perguntas --> 
        <div class="gradient-cards">
            <label>
                <input type="radio" name="age-group" value="3000">
                <div class="card1">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 1 A 100 REAIS.</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="radio" name="age-group" value="18000">
                <div class="card2">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 100 A 1.000 REAIS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="35000">
                <div class="card3">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 1.000 A 5.000 REAIS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="20000">
                <div class="card4">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ACIMA DE 5.000 REIAS.</p>
                    </div>
                </div>
            </label>
        </div>  <!-- Final dos Card de Perguntas --> 
    </div>  <!-- Final do Container | Pergunta INVESTIR -->




    <!-- ############################### -->
    <!----------------TAXA JUROS---------------->
    <!-- Inicio do Container | Pergunta TAXA JUROS-->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>QUER APLICAR EM QUE TAXA </span> DE JUROS?</h1>
        </header>
        <!-- Final Header -->

        <!-- Inicio dos Cards de Perguntas --> 
        <div class="gradient-cards">
            <label>
                <input type="radio" name="age-group" value="12.87">
                <div class="card1">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 0.2% AO MÊS.</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="radio" name="age-group" value="14.27">
                <div class="card2">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 0.5% AO MÊS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="16.02">
                <div class="card3">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 0.7% AO MÊS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="18.39">
                <div class="card4">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 0.9% AO MÊS.</p>
                    </div>
                </div>
            </label>
        </div>  <!-- Final dos Card de Perguntas --> 
    </div>  <!-- Final do Container | Pergunta TAXA JUROS -->



    <!-- ############################### -->
    <!----------------TEMPO INVESTIMENTO---------------->
    <!-- Inicio do Container | Pergunta TEMPO INVESTIMENTO-->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>QUER INVESTIR POR</span> QUANTO TEMPO?</h1>
        </header>
        <!-- Final Header -->

        <!-- Inicio dos Cards de Perguntas --> 
        <div class="gradient-cards">
            <label>
                <input type="radio" name="age-group" value="1">
                <div class="card1">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 1 A 2 ANOS.</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="radio" name="age-group" value="3">
                <div class="card2">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 3 A 5 ANOS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="6">
                <div class="card3">
                    <div class="container-card bg-green-box">
                        <p class="card-title">DE 6 A 10 ANOS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="10">
                <div class="card4">
                    <div class="container-card bg-green-box">
                        <p class="card-title">ACIMA DE 10 ANOS.</p>
                    </div>
                </div>
            </label>
        </div>  <!-- Final dos Card de Perguntas --> 
    </div>  <!-- Final do Container | Pergunta TEMPO INVESTIMENTO -->




    <!-- ############################### -->
    <!----------------VALOR FINAL---------------->
    <!-- Inicio do Container | Pergunta VALOR FINAL-->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>QUAL O VALOR QUER RECEBER DEPOIS </span> DESTE TEMPO?</h1>
        </header>
        <!-- Final Header -->

        <!-- Inicio dos Cards de Perguntas --> 
        <div class="gradient-cards">
            <label>
                <input type="radio" name="age-group" value="1.000">
                <div class="card1">
                    <div class="container-card bg-green-box">
                        <p class="card-title">1.000 REAIS.</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="radio" name="age-group" value="2.000">
                <div class="card2">
                    <div class="container-card bg-green-box">
                        <p class="card-title">2.000 REAIS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="5.000">
                <div class="card3">
                    <div class="container-card bg-green-box">
                        <p class="card-title">5.000 REAIS.</p>
                    </div>
                </div>
            </label>
        
            <label>
                <input type="radio" name="age-group" value="10.000">
                <div class="card4">
                    <div class="container-card bg-green-box">
                        <p class="card-title">10.000 REAIS.</p>
                    </div>
                </div>
            </label>
        </div>  <!-- Final dos Card de Perguntas --> 
    </div>  <!-- Final do Container | Pergunta VALOR FINAL -->



    <!-- ############################### -->
    <!----------------BOTAO ENVIAR---------------->
    <!-- Inicio do Container | Botao ENVIAR-->
    <div class="container">
        <!-- Inicio Header -->
        <header class="section__container header__container">
            <div class="header__content">
            <span class="bg__blur"></span>
            <span class="bg__blur header__blur"></span>
            <h1> <span>AGORA CLICK</span> EM ENVIAR?</h1>
        </header>
        <!-- Final Header -->
        <!-- Inicio Container - Botao Enviar Formulario -->
        <div class="container">
            <div class="gradient-cards">
                <!-- Botao Enviar Formulario -->
                <button type="submit" class="container-card bg-green-box">
                    <p class="card-title">Enviar</p>
                </button>
            </div>
        </div>
        <!-- Final Container - Botao Enviar Formulario -->
    </div>
    
</form> <!-- Final do Formulario-->

<!-- --------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------- -->





    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/scriptRadioButton.js"></script>

</body>
</html>


